


<div class="ui very padded text container segment orange">
  <div class="ui middle aligned center aligned grid">
    <div class="column">
      <h2 class="ui orange header">
        <div class="content">
          Log-in
        </div>
      </h2>
      <%= form_with url: sessions_path, local: true, class:"ui large form error" do |f| %>

      <%if flash[:errors] %>
        <div class="ui red error message">
            <div class="content">
              <%= flash[:errors] %>
            </div>
        </div>
      <% end %>

      <div class="ui segment stackable">
        <%= f.label :username, class: "field" %>
        <%= f.text_field :username, class: "ui left icon input" %>
        <i class="user icon"></i>
        <br>
        <%= f.label :password, class: "field" %>
        <%= f.password_field :password, class: "ui left icon input" %>
        <i class="lock icon"></i>
      </div>
      <%= f.submit "Log in", class: "ui fluid large orange submit button"%>
      <% end %>
      <div class="ui segment">
        <p>don't have an account? join us</p>
        <%= button_to "Create Account", new_user_path, method: :get, class: "ui orange submit button"%>
      </div>
    </div>
  </div>

</div>
