
<div class="ui very padded text container segment orange">
  <div class="ui middle aligned center aligned grid">
    <div class="column">
      <h2 class="ui orange header">
        <div class="content">
          Post
        </div>
      </h2>

      <%= form_for @post, html: {class:"ui large form error"} do |f| %>

      <%if flash[:errors] %>
        <div class="ui error message">
            <% flash[:errors].each do |err| %>
            <ul class="list">
              <li><%= err %></li>
            </ul>
            <% end %>
        </div>
      <% end %>

        <%= f.file_field :image %>
        
      <div class="ui segment stackable">
        <%= f.label :content, class: "field" %>
          <%= f.text_area :content, class: "ui input" %>
      </div>
      <%= f.submit "Create Post", class: "ui fluid large orange submit button"%>
      <% end %>
    </div>
  </div>
</div>
