

<div class="ui text segment orange">
    <div class="ui one stackable cards">
      <% @posts.each do |post| %>
      <div class="card">
        <div class="content">
          <span class="">
            <i class="bottom floated like icon red"></i>
            <%= post.amt_likes %>
          </span>
          <span class="right floated author">
            <%= image_tag "manpoemlogo.png", class: "ui avatar image"%>
            <%= post.user.username %>
          </span>
        </div>
        <a href=<%="/posts/#{post.id}"%> class="image small">
              <img src="<%= post.image %>">
        </a>
        <div class="content">
          <span style="font-weight: bold;"><%= post.user.username %> </span>
          <%= post.content %>
        </div>


          
        <div class="content">
          <% if post.recent_comments.length > 0 %>
          <% post.comments.last(2).each do |comment| %>
          <div style="margin-top: 1px; margin-bottom: 1px;">
            <span style="font-weight: bold;"> <%= comment.user.username %> </span>
            <%= comment.content %>
          </div>
          <% end %>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
