<% if flash[:errors] %>
  <ul>
    <% flash[:errors].each do |err| %>
      <li>
        <%= err %>
      </li>
    </ul>
  <% end %>
<% end %>

    <div class="four wide column">
      <div class="ui card">
        <div class="image dimmable">
          <div class="ui blurring inverted dimmer transition hidden">
            <div class="content">
              <div class="center">
                <div class="ui teal button">
                  Follow
                </div>
              </div>
            </div>
          </div>
          <%= image_tag "manpoemlogo.png", class: "small"%>
        </div>
        <div class="content">
          <div class="header">
            <%= @post.user.username %>
          </div>
          <div class="meta">
            <%= @post.user.description %>
          </div>
        </div>
        <% if session[:user_id]%>
        <div class="extra content">
            <%= button_to @follow_message, follow_path(@post.user.id), method: :post, class: "ui fluid basic button"%>
        </div>
        <% end %>
      </div>
    </div>
    <div class="seven wide column">
      <div class="ui card fluid">
        <div class="content">
          <div class="header">
            <h2>
              <%= @post.title %>
            </h2>
          </div>
          <p class="description">
            <%= @post.content %>
          </p>
        </div>
        <div class="extra content">
          <span class="">
            <div class="ui labeled button" tabindex="0">
              <% if session[:user_id]%>
                <%= button_to @like_message, support_path(@post.id), method: :post, class: "ui red button" %>
              <% end %>
              <a class="ui basic label">
                <%= @post.amt_likes%>
            </a>
            </div>
          </span>
          <span class="right floated author">
            <%= image_tag "manpoemlogo.png", class: "ui avatar image"%>
            <%= @post.user.username %>
          </span>
        </div>
        <div class="content">
          <%= render "comment" %>
        </div>
        <div class="ui stackable attached card fluid">
          <%if @comments.length > 0 %>
          <% @comments.each do |comment| %>
          <div class="ui card fluid">
            <div class="content">

            <div class="description">
              <%= comment.content %>
            </div>

          </div>
          <div class="extra content">
            <span class="right floated author">
              <%= image_tag "manpoemlogo.png", class: "ui avatar image"%>
              <%= comment.user.username %>
            </span>
          </div>
        </div>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="five wide column">
      <h3 class="ui top attached header center aligned inverted">
        Recent posts by <%= @post.user.username %>
      </h3>
        <div class="ui attached">
          <div class="content fluid">
            <%= render "posts" %>
          </div>
        </div>
      </div>
